rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAuthenticated() {
      return request.auth != null;
    }

    function getUserRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    function isPanel() {
      let userRole = getUserRole();
      return userRole == 'panel';
    }

    function isHR() {
      let userRole = getUserRole();
      return userRole == 'hr';
    }

    function isAgency() {
      let userRole = getUserRole();
      return userRole == 'agency';
    }

    match /candidates/{candidateId} {
      allow read: if isUserAuthenticated();
      
      allow create: if isUserAuthenticated() && (isHR() || isAgency());
      
      // Allow write access to Panel, HR, and Agency roles for workflow actions
      allow write: if isUserAuthenticated() && (isPanel() || isHR() || isAgency());
      
      // No user can delete a candidate record
      allow delete: if false;
    }

    match /candidateHistory/{historyId} {
        allow read, create: if isUserAuthenticated();
    }

    match /users/{userId} {
        allow read, write: if request.auth.uid == userId;
    }
  }
}
